<%-include('../partials/header');%>
  
  
  <div class="site-section bg-light">
    <div class="container">
      <div class="row align-items-stretch retro-layout-2">
        <div class="col-md-4">
          <a href="#" class="h-entry mb-30 v-height gradient" style="background-image: url('images/pexels-pavel-danilyuk-8438965.jpg');">
            
            <div class="text">
              <h2>How AI is changing the IT industry</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
          <a href="#" class="h-entry v-height gradient" style="background-image: url('images/robot-gb6c268332_1920.jpg');">
            
            <div class="text">
              <h2>Top 10 programming languages in 2022.</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="h-entry img-5 h-100 gradient" style="background-image: url('images/pexels-pixabay-73910.jpg');">
            
            <div class="text">
              <div class="post-categories mb-3">
                <span class="post-category bg-danger">Tech</span>
                <span class="post-category bg-primary">Python</span>
              </div>
              <h2>Python as a future programming language</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="h-entry mb-30 v-height gradient" style="background-image: url('images/pexels-pixabay-373543.jpg');">
            
            <div class="text">
              <h2>The techgiants of year 2022</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
          <a href="#" class="h-entry v-height gradient" style="background-image: url('images/pexels-pixabay-355948.jpg');">
            
            <div class="text">
              <h2>Common interview questions by tech companies</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2>Recent Posts</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/pexels-tara-winstead-8386440.jpg" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-secondary mb-3">AI</span>

            <h2><a href="#">I could feel – I could smell –a new kind of intelligence across the table</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/elonmusk.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">Elon musk</a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p>AI in IT is a concept that determines future and everything that it holds. AI has not only transformed traditional methods of computing, but it has been also penetrating into many industries, significantly transforming them. As the world becomes more digitized and all industries become much smarter, IT companies have to keep pace with exploding process complexity and accelerating innovations. </p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/hitesh-choudhary-D9Zow2REm8U-unsplash.jpg" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-success mb-3">Python</span>

            <h2><a href="#">Why Python is gonna be the no one programing langugage</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/images11.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">Tim Kamarin</a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p> The python language is one of the most accessible programming languages available because it has simplified syntax and not complicated, which gives more emphasis on natural language. Due to its ease of learning and usage, python codes can be easily written and executed much faster than other programming languages.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/amazon2.png" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-warning mb-3">Techgiants</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/ndtv.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">NDTV </a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p> Amazon is gearing up to enter the augmented reality (AR) and virtual reality (VR) space, suggests new job listings posted on the company's recruitment website. As per the new listing on Amazon Jobs, the e-commerce giant is looking to hire a number of people including designers, product managers, researchers and technologists for an unannounced AR/VR product. The listing hints that Amazon is working on a device that will be a "new-to-world smart-home product” that uses Extended Reality (XR) technology. Tech giants including Facebook, Apple, Microsoft and Google are already continuing their endeavours in this space.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%-include('../partials/footer')%>