<!D# lang="en">
<head>
  <title>Tech Verse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <header class="site-navbar" role="banner">
    <div class="container-fluid">
      <div class="row align-items-center">
        
        <div class="col-12 search-form-wrap js-search-form">
          <form method="get" action="#">
            <input type="text" id="s" class="form-control" placeholder="Search...">
            <button class="search-btn" type="submit"><span class="icon-search"></span></button>
          </form>
        </div>

        <div class="col-4 site-logo">
          <a href=#" class="text-black h2 mb-0"><b>Tech Verse</b></a>
        </div>

        <div class="col-8 text-right">
          <nav class="site-navigation" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
              <li><a href="#">Home</a></li>
              <li><a href="#">Tech</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Signin/Signup</a></li>
              <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
            </ul>
          </nav>
          <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
        </div>

    </div>
  </header>
  
  
  <div class="site-section bg-light">
    <div class="container">
      <div class="row align-items-stretch retro-layout-2">
        <div class="col-md-4">
          <a href="#" class="h-entry mb-30 v-height gradient" style="background-image: url('images/pexels-pavel-danilyuk-8438965.jpg');">
            
            <div class="text">
              <h2>How AI is changing the IT industry</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
          <a href="#" class="h-entry v-height gradient" style="background-image: url('images/robot-gb6c268332_1920.jpg');">
            
            <div class="text">
              <h2>Top 10 programming languages in 2022.</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="h-entry img-5 h-100 gradient" style="background-image: url('images/pexels-pixabay-73910.jpg');">
            
            <div class="text">
              <div class="post-categories mb-3">
                <span class="post-category bg-danger">Tech</span>
                <span class="post-category bg-primary">Python</span>
              </div>
              <h2>Python as a future programming language</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="h-entry mb-30 v-height gradient" style="background-image: url('images/pexels-pixabay-373543.jpg');">
            
            <div class="text">
              <h2>The techgiants of year 2022</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
          <a href="#" class="h-entry v-height gradient" style="background-image: url('images/pexels-pixabay-355948.jpg');">
            
            <div class="text">
              <h2>Common interview questions by tech companies</h2>
              <span class="date">March 17, 2022</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2>Recent Posts</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/pexels-tara-winstead-8386440.jpg" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-secondary mb-3">AI</span>

            <h2><a href="#">I could feel – I could smell –a new kind of intelligence across the table</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/elonmusk.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">Elon musk</a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p>AI in IT is a concept that determines future and everything that it holds. AI has not only transformed traditional methods of computing, but it has been also penetrating into many industries, significantly transforming them. As the world becomes more digitized and all industries become much smarter, IT companies have to keep pace with exploding process complexity and accelerating innovations. </p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/hitesh-choudhary-D9Zow2REm8U-unsplash.jpg" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-success mb-3">Python</span>

            <h2><a href="#">Why Python is gonna be the no one programing langugage</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/images11.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">Tim Kamarin</a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p> The python language is one of the most accessible programming languages available because it has simplified syntax and not complicated, which gives more emphasis on natural language. Due to its ease of learning and usage, python codes can be easily written and executed much faster than other programming languages.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="entry2">
            <a href="#"><img src="images/amazon2.png" alt="Image" class="img-fluid rounded"></a>
            <div class="excerpt">
            <span class="post-category text-white bg-warning mb-3">Techgiants</a></h2>
            <div class="post-meta align-items-center text-left clearfix">
              <figure class="author-figure mb-0 mr-3 float-left"><img src="images/ndtv.jpeg" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">By <a href="#">NDTV </a></span>
              <span>&nbsp;-&nbsp; July 19, 2019</span>
            </div>
            
              <p> Amazon is gearing up to enter the augmented reality (AR) and virtual reality (VR) space, suggests new job listings posted on the company's recruitment website. As per the new listing on Amazon Jobs, the e-commerce giant is looking to hire a number of people including designers, product managers, researchers and technologists for an unannounced AR/VR product. The listing hints that Amazon is working on a device that will be a "new-to-world smart-home product” that uses Extended Reality (XR) technology. Tech giants including Facebook, Apple, Microsoft and Google are already continuing their endeavours in this space.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  
  
  <div class="site-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h3 class="footer-heading mb-4">About Us</h3>
          <p>We are here to aware everybody about the trending technologies and how they are revolutionizing our day to day  life. As of my point of view everybody must know how the things works, how our daily calculator is working. So in this way everbody got the concept and also they are updated with the current technologies. </p>
        </div>
        <div class="col-md-3 ml-auto">
          <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
          <ul class="list-unstyled float-left mr-5">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Comment</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Subscribes</a></li>
          </ul>
          <ul class="list-unstyled float-left">
            <li><a href="#">Trending technologies</a></li>
            <li><a href="#">Lifestyle tech</a></li>
            <li><a href="#">Articles</a></li>
          
          </ul>
        </div>
        <div class="col-md-4">
          

          <div>
            <h3 class="footer-heading mb-4">Connect With Us</h3>
            <p>
              <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
              <a href="#"><span class="icon-twitter p-2"></span></a>
              <a href="#"><span class="icon-instagram p-2"></span></a>
              <a href="#"><span class="icon-rss p-2"></span></a>
              <a href="#"><span class="icon-envelope p-2"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!-- Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib---</a>Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a> -->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>


</b#>